headspin.core.services.suo
headspin.reportconfig.lib/bin/Debug/headspin.reportconfig.lib.dll
headspin.reportconfig.lib/bin/Debug/headspin.reportconfig.lib.pdb
headspin.reportconfig.lib/bin/Debug/headspin.reportconfig.lib.xml
headspin.reportconfig.lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.Resources.resources
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.dll
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.pdb
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.vbproj.FileListAbsolute.txt
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.vbproj.GenerateResource.Cache
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.xml
headspin.reportmgr/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
headspin.reportmgr/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
headspin.reportmgr/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
headspin.reportmgr/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
headspin.reportmgr/obj/Debug/headspin.reportmgr.csproj.FileListAbsolute.txt
headspin.reportmgr/obj/Debug/headspin.reportmgr.csprojResolveAssemblyReference.cache
headspin.jsonutilities/bin/Debug/JsonFx.dll
headspin.jsonutilities/bin/Debug/Newtonsoft.Json.dll
headspin.jsonutilities/bin/Debug/Newtonsoft.Json.pdb
headspin.jsonutilities/bin/Debug/Newtonsoft.Json.xml
headspin.jsonutilities/bin/Debug/headspin.jsonutilities.dll
headspin.jsonutilities/bin/Debug/headspin.jsonutilities.pdb
headspin.jsonutilities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
headspin.jsonutilities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
headspin.jsonutilities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
headspin.jsonutilities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
headspin.jsonutilities/obj/Debug/headspin.jsonutilities.csproj.FileListAbsolute.txt
headspin.jsonutilities/obj/Debug/headspin.jsonutilities.csprojResolveAssemblyReference.cache
headspin.jsonutilities/obj/Debug/headspin.jsonutilities.dll
headspin.jsonutilities/obj/Debug/headspin.jsonutilities.pdb
headspin.reportmgr/bin/Debug/Newtonsoft.Json.dll
headspin.reportmgr/bin/Debug/Newtonsoft.Json.pdb
headspin.reportmgr/bin/Debug/Newtonsoft.Json.xml
headspin.reportmgr/bin/Debug/headspin.jsonutilities.dll
headspin.reportmgr/bin/Debug/headspin.jsonutilities.pdb
headspin.reportmgr/bin/Debug/headspin.reportmgr.dll
headspin.reportmgr/bin/Debug/headspin.reportmgr.pdb
headspin.reportmgr/obj/Debug/headspin.reportmgr.dll
headspin.reportmgr/obj/Debug/headspin.reportmgr.pdb
headspin.jsonutilities/bin/Debug/JsonFx.xml
headspin.reportconfig.lib/bin/Debug/HeadSpin.App.Core.dll
headspin.reportconfig.lib/bin/Debug/HeadSpin.App.Core.pdb
headspin.reportconfig.lib/bin/Debug/HeadSpin.App.Core.xml
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.vbprojResolveAssemblyReference.cache
headspin.reportmgr/bin/Debug/CsvHelper.dll
headspin.reportmgr/bin/Debug/CsvHelper.pdb
headspin.reportmgr/bin/Debug/CsvHelper.xml
headspin.reportmgr/bin/Debug/HeadSpin.App.Core.dll
headspin.reportmgr/bin/Debug/HeadSpin.App.Core.pdb
headspin.reportmgr/bin/Debug/HeadSpin.App.Core.xml
headspin.reportmgr/bin/Debug/headspin.reportconfig.lib.dll
ConsoleTester/bin/Debug/ConsoleTester.exe
HeadSpin.App.Core.v3/obj/Debug/HeadSpin.App.Core.v3.vbproj.FileListAbsolute.txt
HeadSpin.App.Core.v3/obj/Debug/HeadSpin.App.Core.v3.vbproj.GenerateResource.Cache
HeadSpin.App.Core.v3/obj/Debug/HeadSpin.App.Core.xml
HeadSpin.App.Core.v3/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
HeadSpin.App.Core.v3/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
HeadSpin.App.Core.v3/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
HeadSpin.App.Core.v3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HeadSpin.App.Core.v3/obj/Debug/HeadSpin.App.Core.Resources.resources
HeadSpin.App.Core.v3/obj/Debug/HeadSpin.App.Core.dll
HeadSpin.App.Core.v3/obj/Debug/HeadSpin.App.Core.pdb
HeadSpin.App.Core.v3/bin/Debug/HeadSpin.App.Core.dll.config
HeadSpin.App.Core.v3/bin/Debug/HeadSpin.App.Core.pdb
HeadSpin.App.Core.v3/bin/Debug/HeadSpin.App.Core.xml
HeadSpin.App.Core.v3/My Project/Settings.Designer.vb
HeadSpin.App.Core.v3/bin/Debug/HeadSpin.App.Core.dll
headspin.reportmgr/bin/Debug/headspin.reportconfig.lib.pdb
headspin.reportmgr/bin/Debug/headspin.reportconfig.lib.xml
packages/CsvHelper.2.13.5.0/CsvHelper.2.13.5.0.nupkg
packages/CsvHelper.2.13.5.0/lib/net20/CsvHelper.dll
packages/CsvHelper.2.13.5.0/lib/net20/CsvHelper.pdb
packages/CsvHelper.2.13.5.0/lib/net20/CsvHelper.xml
packages/CsvHelper.2.13.5.0/lib/net35-client/CsvHelper.dll
packages/CsvHelper.2.13.5.0/lib/net35-client/CsvHelper.pdb
packages/CsvHelper.2.13.5.0/lib/net35-client/CsvHelper.xml
packages/CsvHelper.2.13.5.0/lib/net40-client/CsvHelper.dll
packages/CsvHelper.2.13.5.0/lib/net40-client/CsvHelper.pdb
packages/CsvHelper.2.13.5.0/lib/net40-client/CsvHelper.xml
packages/CsvHelper.2.13.5.0/lib/portable-net40+sl5+win8+wpa+wp8/CsvHelper.dll
packages/JsonFx.2.0.1209.2802/lib/net20/JsonFx.dll
HeadSpin.App.Core.v3/My Project/Application.Designer.vb
HeadSpin.App.Core.v3/My Project/Application.myapp
HeadSpin.App.Core.v3/My Project/Resources.resx
packages/CsvHelper.2.13.5.0/lib/portable-net40+sl5+win8+wpa+wp8/CsvHelper.pdb
packages/CsvHelper.2.13.5.0/lib/portable-net40+sl5+win8+wpa+wp8/CsvHelper.xml
packages/JsonFx.2.0.1209.2802/JsonFx.2.0.1209.2802.nupkg
packages/JsonFx.2.0.1209.2802/lib/net20/JsonFx.xml
packages/JsonFx.2.0.1209.2802/lib/net35/JsonFx.dll
packages/JsonFx.2.0.1209.2802/lib/net35/JsonFx.xml
packages/JsonFx.2.0.1209.2802/lib/net40/JsonFx.dll
packages/JsonFx.2.0.1209.2802/lib/net40/JsonFx.xml
packages/JsonFx.2.0.1209.2802/lib/sl35/JsonFx.dll
packages/JsonFx.2.0.1209.2802/lib/sl35/JsonFx.xml
packages/JsonFx.2.0.1209.2802/lib/sl40-wp/JsonFx.dll
packages/JsonFx.2.0.1209.2802/lib/sl40-wp/JsonFx.xml
packages/JsonFx.2.0.1209.2802/lib/sl40/JsonFx.dll
packages/JsonFx.2.0.1209.2802/lib/sl40/JsonFx.xml
packages/JsonFx.2.0.1209.2802/lib/wp40/JsonFx.dll
packages/JsonFx.2.0.1209.2802/lib/wp40/JsonFx.xml
CustomTesterReporter/bin/Debug/headspin.reportmgr.dll
CustomTesterReporter/bin/Debug/headspin.reportmgr.pdb
CustomTesterReporter/obj/Debug/CustomTesterReporter.csprojResolveAssemblyReference.cache
CustomTesterReporter/obj/Debug/CustomTesterReporter.dll
CustomTesterReporter/obj/Debug/CustomTesterReporter.pdb
CustomTesterReporter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CustomTesterReporter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CustomTesterReporter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CustomTesterReporter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Newtonsoft.Json.4.5.1/Newtonsoft.Json.4.5.1.nupkg
packages/Newtonsoft.Json.4.5.1/lib/net20/Newtonsoft.Json.dll
CustomTesterReporter/bin/Debug/HeadSpin.App.Core.pdb
CustomTesterReporter/bin/Debug/HeadSpin.App.Core.xml
CustomTesterReporter/bin/Debug/Newtonsoft.Json.dll
CustomTesterReporter/bin/Debug/Newtonsoft.Json.pdb
CustomTesterReporter/bin/Debug/Newtonsoft.Json.xml
CustomTesterReporter/bin/Debug/headspin.jsonutilities.dll
CustomTesterReporter/bin/Debug/headspin.jsonutilities.pdb
CustomTesterReporter/bin/Debug/headspin.reportconfig.lib.dll
CustomTesterReporter/bin/Debug/headspin.reportconfig.lib.pdb
CustomTesterReporter/bin/Debug/headspin.reportconfig.lib.xml
CustomTesterReporter/obj/Debug/CustomTesterReporter.csproj.FileListAbsolute.txt
CustomTesterReporter/bin/Debug/CsvHelper.dll
CustomTesterReporter/bin/Debug/CsvHelper.pdb
CustomTesterReporter/bin/Debug/CsvHelper.xml
CustomTesterReporter/bin/Debug/CustomTesterReporter.dll
CustomTesterReporter/bin/Debug/CustomTesterReporter.pdb
CustomTesterReporter/bin/Debug/HeadSpin.App.Core.dll
packages/Newtonsoft.Json.4.5.1/lib/net20/Newtonsoft.Json.pdb
packages/Newtonsoft.Json.4.5.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.4.5.1/lib/net35/Newtonsoft.Json.pdb
packages/Newtonsoft.Json.4.5.1/lib/net35/Newtonsoft.Json.xml
ConsoleTester/obj/Debug/ConsoleTester.pdb
ConsoleTester/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleTester/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConsoleTester/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConsoleTester/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Newtonsoft.Json.4.5.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.4.5.1/lib/net40/Newtonsoft.Json.pdb
packages/Newtonsoft.Json.4.5.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.1/lib/sl3-wp/Newtonsoft.Json.dll
packages/Newtonsoft.Json.4.5.1/lib/sl3-wp/Newtonsoft.Json.pdb
packages/Newtonsoft.Json.4.5.1/lib/sl4-windowsphone71/Newtonsoft.Json.dll
packages/Newtonsoft.Json.4.5.1/lib/sl3-wp/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.1/lib/sl4-windowsphone71/Newtonsoft.Json.pdb
packages/Newtonsoft.Json.4.5.1/lib/sl4-windowsphone71/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.1/lib/sl4/Newtonsoft.Json.dll
packages/Newtonsoft.Json.4.5.1/lib/sl4/Newtonsoft.Json.pdb
packages/Newtonsoft.Json.4.5.1/lib/sl4/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.1/lib/winrt45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.4.5.1/lib/winrt45/Newtonsoft.Json.pdb
ConsoleTester/bin/Debug/Newtonsoft.Json.xml
ConsoleTester/bin/Debug/headspin.jsonutilities.dll
ConsoleTester/bin/Debug/headspin.jsonutilities.pdb
ConsoleTester/bin/Debug/headspin.reportconfig.lib.dll
ConsoleTester/bin/Debug/headspin.reportconfig.lib.pdb
ConsoleTester/bin/Debug/headspin.reportconfig.lib.xml
ConsoleTester/bin/Debug/headspin.reportmgr.dll
ConsoleTester/bin/Debug/headspin.reportmgr.pdb
ConsoleTester/obj/Debug/ConsoleTester.csproj.FileListAbsolute.txt
ConsoleTester/obj/Debug/ConsoleTester.csprojResolveAssemblyReference.cache
ConsoleTester/obj/Debug/ConsoleTester.exe
ConsoleTester/bin/Debug/ConsoleTester.exe.config
ConsoleTester/bin/Debug/ConsoleTester.pdb
ConsoleTester/bin/Debug/CsvHelper.dll
ConsoleTester/bin/Debug/CsvHelper.pdb
ConsoleTester/bin/Debug/CsvHelper.xml
ConsoleTester/bin/Debug/HeadSpin.App.Core.dll
ConsoleTester/bin/Debug/HeadSpin.App.Core.pdb
ConsoleTester/bin/Debug/HeadSpin.App.Core.xml
ConsoleTester/bin/Debug/Newtonsoft.Json.dll
ConsoleTester/bin/Debug/Newtonsoft.Json.pdb
packages/Newtonsoft.Json.4.5.1/lib/winrt45/Newtonsoft.Json.xml
