headspin.core.services.suo
headspin.reportconfig.lib/bin/Debug/headspin.reportconfig.lib.dll
headspin.reportconfig.lib/bin/Debug/headspin.reportconfig.lib.pdb
headspin.reportconfig.lib/bin/Debug/headspin.reportconfig.lib.xml
headspin.reportconfig.lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.Resources.resources
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.dll
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.pdb
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.vbproj.FileListAbsolute.txt
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.vbproj.GenerateResource.Cache
headspin.reportconfig.lib/obj/Debug/headspin.reportconfig.lib.xml
headspin.reportmgr/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
headspin.reportmgr/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
headspin.reportmgr/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
headspin.reportmgr/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
headspin.reportmgr/obj/Debug/headspin.reportmgr.csproj.FileListAbsolute.txt
headspin.reportmgr/obj/Debug/headspin.reportmgr.csprojResolveAssemblyReference.cache
